# pixi environments
.pixi/*
!.pixi/config.toml
# pixi environments
.pixi/*
!.pixi/config.toml
# Ignore Claude
CLAUDE.md
pipeline_guide.md
# Ignore virtual environment folders
venv-bubble/
.venv/

# Ignore compiled Python files
*.pyc

#Ignore data
data/